{{define "footer"}}

 <footer>
    <div class="container">
        <div class="row">
            <div class="col text-center">
            <hr>
                <small class="text-muted">Copyright &copy; MuthuCode.ca</small>
            </div>
        </div>
    </div>
 </footer>

 {{end}}